{% assign career-profile = site.data.cv.career-profile %}
{% assign profile = site.data.cv.profile %}
{% if career-profile %}
<div class="resume-intro py-3">
  <div class="media flex-column flex-md-row align-items-center">
    <img
      class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto"
      src="{{ site.baseurl }}/assets/images/{{ profile.avatar }}"
      alt="{{ profile.avatar-alt }}"
    />
    <div class="media-body text-left">
      <p class="mb-0">{{ career-profile.summary | markdownify }}</p>
    </div>
  </div>
</div>
{% endif %}
