{% assign profile = site.data.cv.profile %}
<div class="resume-footer text-center">
  <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
    {% if profile.github and profile.github != "" %}
    <li class="list-inline-item mb-lg-0 mr-3">
      <a class="resume-link" href="https://github.com/{{ profile.github }}">
        <i class="fab fa-github-square fa-2x mr-2" data-fa-transform="down-4"></i>
        <span class="d-none d-lg-inline-block text-muted">github.com/{{ profile.github }}</span>
      </a>
    </li>
    {% endif %}
    {% if profile.linkedin and profile.linkedin != "" %}
    <li class="list-inline-item mb-lg-0 mr-3">
      <a class="resume-link" href="https://linkedin.com/in/{{ profile.linkedin }}">
        <i class="fab fa-linkedin fa-2x mr-2" data-fa-transform="down-4"></i>
        <span class="d-none d-lg-inline-block text-muted">linkedin.com/in/{{ profile.linkedin }}</span>
      </a>
    </li>
    {% endif %}
    {% if profile.twitter and profile.twitter != "" %}
    <li class="list-inline-item mb-lg-0 mr-lg-3">
      <a class="resume-link" href="https://twitter.com/{{ profile.twitter }}">
        <i class="fab fa-twitter-square fa-2x mr-2" data-fa-transform="down-4"></i>
        <span class="d-none d-lg-inline-block text-muted">{{ profile.twitter }}</span>
      </a>
    </li>
    {% endif %}
  </ul>
</div>
