{% assign education = site.data.cv.education %}
{% if education %}
{% if site.data.cv.sidebar.education %}
<!-- if in sidebar -->
<section class="education-section py-3">
  <h3 class="text-uppercase resume-section-heading mb-4">{{ education.title }}</h3>
  <ul class="list-unstyled resume-education-list">
    {% for quali in education.qualifications %}
    <li class="mb-3">
      <div class="resume-degree font-weight-bold">{{ quali.title }}</div>
      <div class="resume-degree-org text-muted">{{ quali.university }}</div>
      {% if quali.dates %}
      <div class="resume-degree-time text-muted">{{ quali.dates }}</div>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</section>
{% else %}
<section class="work-section py-3">
  <h3 class="text-uppercase resume-section-heading mb-4">{{ education.title }}</h3>
  {% for quali in education.qualifications %}
  <div class="item mb-3">
    <div class="item-heading row align-items-center mb-2">
      <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
        {{ quali.title }}
      </h4>
      <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">
        {{ quali.dates }}
      </div>
    </div>
    <div class="item row align-items-center mb-2">
      <h4 class="item-title col-12 col-md-6 col-lg-8 text-muted mb-2 mb-md-0">
        {{ quali.university }}
      </h4>
    </div>
    {% if quali.details %}
    <div class="item-content">
      <p>
        {{ quali.details | markdownify }}
      </p>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</section>
{% endif %}
{% endif %}