{% assign projects = site.data.cv.projects %} {% if projects %}
<section class="project-section py-3">
  <h3 class="text-uppercase resume-section-heading mb-4">{{ projects.title }}</h3>
  {% for project in projects.assignments %}
  <div class="item mb-3">
    <div class="item-heading row align-items-center mb-2">
      <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
        {% if project.link and project.link != "" %}
        <a class="resume-link" href="{{project.link}}" target="_blank">{{ project.title }}</a>
        {% else %}
        {{project.title }}
        {% endif %}
      </h4>
      <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">{{ project.type }}</div>
    </div>
    <div class="item-content">
      <p>{% if project.tagline %} {{ project.tagline }} {% endif %}</p>
    </div>
  </div>
  {% endfor %}
</section>
{% endif %}
