---
#Add "layout: compress" here to compress the html code
---

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
  <!--<![endif]-->
  {% include cv/head.html %}

  <body>
    <div class="main-wrapper">
      <div class="container px-3 px-lg-5">
        <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">
          {% include cv/header.html %}

          <hr />

          {% include cv/career-profile.html %}

          <hr />

          <div class="resume-body">
            <div class="row">
              <div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">
                {% include cv/experience.html %}
                {% unless site.data.cv.sidebar.education %}
                  {% include cv/education.html %}
                {% endunless %}
                {% include cv/projects.html %}
              </div>
              <!--//resume-main-->

              {% include cv/sidebar.html %}
            </div>
            <!--//row-->
          </div>
          <!--//resume-body-->

          <hr />

          {% include cv/connect.html %}
        </article>
      </div>
      <!--//container-->

      {% include cv/footer.html %}
      <!-- {% include cv/scripts.html %} -->
    </div>
    <!--//main-wrapper-->
  </body>
</html>
